.button {
  background-color: rgba(191, 28, 23, 1); /* #BF1C17 */
  border-radius: 100px;
  box-shadow: rgba(191, 28, 23, 0.2) 0 -25px 18px -14px inset, 
              rgba(191, 28, 23, 0.15) 0 1px 2px, 
              rgba(191, 28, 23, 0.15) 0 2px 4px, 
              rgba(191, 28, 23, 0.15) 0 4px 8px, 
              rgba(191, 28, 23, 0.15) 0 8px 16px, 
              rgba(191, 28, 23, 0.15) 0 16px 32px;
  color: white;
  cursor: pointer;
  display: inline-block;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 1em;
}

.button:hover {
  box-shadow: rgba(191, 28, 23, 0.35) 0 -25px 18px -14px inset, 
              rgba(191, 28, 23, 0.25) 0 1px 2px, 
              rgba(191, 28, 23, 0.25) 0 2px 4px, 
              rgba(191, 28, 23, 0.25) 0 4px 8px, 
              rgba(191, 28, 23, 0.25) 0 8px 16px, 
              rgba(191, 28, 23, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}
