.header-wrapper {
    
}

.right-part, .left-part {
    pointer-events: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: inherit;
}

header .right-part .hamburger-btn {
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    color: #606887;
    font: inherit;
    font-variation-settings: "wght" 800, "wdth" 125;
    padding: 0;
}