:root {
    --top-internal-margin: 24px;
    --left-right-margin: 240px;
}

.menu {
    z-index: 2;
    top: 0;
    left: 0;
    position: fixed;
    height: 100vh;
    width: 100%;
    pointer-events: auto;
}

.menu .menu-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    overflow: hidden;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 var(--left-right-margin) 0 25%;
}

.menu .menu-items ol li {
    counter-increment: counter;
    list-style: none;
    margin-left: -1.5rem;
    position: relative;
    overflow: hidden;
}

.menu .menu-items {
    display: flex;
    flex-direction: column;
    position: relative;
    width: auto;
    margin: calc(var(--top-internal-margin)* 2) 0 0 1.5rem;
    white-space: nowrap;
}

.menu .menu-items ol li .item-inner {
    position: relative;
    transform: translateY(100px);
}

