:root {
  --black: #000000;
  --background: #ffffff;
  --red: #BF1C17;
  --auburn: #A52422;
  --raisin: #2D2D34;
  --body-font: "Quicksand", sans-serif;
  --second-font: "Inter", sans-serif;
}

body {
  margin: 0;
  font-family: var(--body-font);
  background-color: var(--background);
  color: var(--black);
  font-size: var(--fs-18);
  line-height: 1.56; 
  overflow: auto; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  border-radius: 15%;
}

h1 {  
  font-size: 2.5rem;
  text-align: left;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

h2 {
  margin: 0 0 .5rem;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.75rem;
  letter-spacing: -.025em;
  --tw-text-opacity: 1;
  text-align: left;
  font-family: var(--second-font);
}

p {
  text-align: left;
  margin-top: 0;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: var(--background); 
}

.intro-wrapper {
  max-width: 1280px;
  justify-content: center;
  padding: 6rem;
}

.home .intro-wrapper .intro-text {
  position: sticky;
}

.home .intro-wrapper .intro-text .intro-name {
  font-family: var(--second-font);
  letter-spacing: .05rem;
  font-weight: 800;
  font-size: 4rem;
  color: var(--auburn);
}

.page-change {
  text-align: center;
  padding: 0em 0em 2em;
}

/* split view */
.split {
  display: flex;
  gap: 4rem;
}